@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --swiper-wrapper-transition-timing-function: linear !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
